body{
    background-color: aqua;
}
main{
    width: 600px;
    padding-top: 20px;
    margin: auto;
    background-color: white;
    box-shadow: -5px 7px 10px rgba(16, 2, 2, 0.92);
}
.all{
    margin-left: 20px;
}
.img img{
    width: 250px;
   height: auto;
}
 .another form{
    width: 50%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
 }